<!DOCTYPE html>
<html>
<head>
    <title>Laboratorio de Ciberseguridad</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Menú Principal</h1>
    <ul>
        <li><a href="#contenedores">Listado de Contenedores</a></li>
        <li><a href="#imagenes">Listado de Imágenes</a></li>
        <li><a href="#comandos">Ejecutar Comandos Docker</a></li>
        <li><a href="#compose">Ejecutar Docker Compose</a></li>
    </ul>

    <h2 id="contenedores">Listado de Contenedores Docker</h2>
    <table>
        <tr>
            <th>Nombre</th>
            <th>ID</th>
            <th>Estado</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
        {% for container in containers %}
        <tr>
            <td>{{ container.name }}</td>
            <td>{{ container.id[:12] }}</td>
            <td>{{ container.status }}</td>
            <td>{{ container.image.tags[0] if container.image.tags else 'N/A' }}</td>
            <td>
                <button onclick="location.href='{{ url_for('start', id=container.id) }}'">Iniciar</button>
                <button onclick="location.href='{{ url_for('stop', id=container.id) }}'">Detener</button>
                <button onclick="location.href='{{ url_for('remove', id=container.id) }}'">Eliminar</button>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h2 id="imagenes">Listado de Imágenes Docker</h2>
    <table>
        <tr>
            <th>Etiquetas</th>
            <th>ID</th>
            <th>Tamaño</th>
        </tr>
        {% for image in images %}
        <tr>
            <td>{{ image.tags }}</td>
            <td>{{ image.id.split(":")[-1][:12] }}</td>
	   <td>{{ (image.attrs['Size'] / 1024 / 1024)|round|int }} MB</td>
        </tr>
        {% endfor %}
    </table>

    <h2 id="comandos">Ejecutar Comandos Docker</h2>
    <div class="container">
        <form action="/execute" method="post">
            <label for="command">Commando:</label><br>
            <input type="text" id="command" name="command"><br>
            <button type="submit">Ejecutar</button>
        </form>
    </div>

    <h2 id="compose">Ejecutar Docker Compose</h2>
    <form method="POST">
        <label for="compose_file">Ruta del archivo docker-compose.yml:</label><br>
        <input type="text" id="compose_file" name="compose_file"><br>
        <input type="submit" value="Lanzar contenedores">
    </form>
</body>
</html>