<!DOCTYPE html>
<html>
<head>
    <title>Docker Command Execution</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Execute Docker Command</h1>
    <form action="/execute" method="post">
        <label for="command">Command:</label><br>
        <input type="text" id="command" name="command"><br>
        <button type="submit">Execute</button>
    </form>
    {% if stdout or stderr %}
    <h2>Output:</h2>
    {% if stdout %}
    <h3>Standard Output:</h3>
    <pre>{{ stdout }}</pre>
    {% endif %}
    {% if stderr %}
    <h3>Standard Error:</h3>
    <pre>{{ stderr }}</pre>
    {% endif %}
    {% endif %}
<button onclick="location.href='/'">Volver al Menú Principal</button>
</body>
</html>