<!DOCTYPE html>
<html>
<head>
    <title>Docker Command Execution</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Execute Docker Command</h1>
    <form id="command-form">
        <label for="command">Command:</label><br>
        <input type="text" id="command" name="command"><br>
        <button type="submit">Execute</button>
    </form>
    <div id="output"></div>
    <button onclick="location.href='/'">Volver al Menú Principal</button>
    <script>
        // Get the form element
        const form = document.getElementById('command-form');

        // Add a submit event listener to the form
        form.addEventListener('submit', (event) => {
            // Prevent the form from submitting normally
            event.preventDefault();

            // Get the command from the form
            const command = form.command.value;

            // Send the command to the server using the fetch function
            fetch('/execute', {
                method: 'POST',
                body: new URLSearchParams({
                    command: command
                })
            })
           .then(response => response.text())
           .then(output => {
                // Display the output in the output div
                const outputDiv = document.getElementById('output');
                outputDiv.innerHTML = `<pre>${output}</pre>`;
            });
        });
    </script>
</body>
</html>
